alias gb='git branch'
alias gst='git status'
alias gfe='git fetch -p'
alias gco='git checkout'
alias gdi='git diff'
alias gpul='git pull'

alias g='cd $(ghq root)/$(ghq list | peco)'
alias t='tig'

alias ll='ls -al'
alias cd.='cd ..'

alias ba='vim ~/.bashrc'
alias so='source ~/.bashrc'
