[user]
        name = teriyakiegg
        email = teriyakiegg@gmail.com
[core]
        pager = less -+$LESS -R
        excludesfile = /Users/Teruaki/.gitignore_global
[commit]
        template = ~/.gitmessage
[fetch]
        prune = true
[pull]
        ff = only
[push]
        default = simple
[merge]
        ff = false
[ghq]
        root = ~/Git
[hub]
        host = github.com
[url "git@github.com:"]
	insteadOf = https://github.com/