[user]
        name = teriyakiegg
        email = teriyakiegg@gmail.com
[core]
        pager = less -+$LESS -R
        excludesfile = /Users/Teruaki/.gitignore_global
[push]
        default = simple
[fetch]
        prune = true
[ghq]
        root = ~/Git
